#email{
    padding:50px;
    margin-top:50px;
    width:500px;
    border:2px;
    box-sizing:border-box;
  }
  #confidential{
    display:inline-block;
    padding:20px;
    margin-left:12px;
    border:4px solid red;
    transform:rotate(45deg);
  }
  #top-secret{
    display:inline-block;
    padding:20px;
    margin-left:12px;
    border:4px solid black;
    transform:rotate(90deg);
  }
  .blurred{
    filter:blur(3px);
  }